/* Cabeçalho */
.cabecalho__container {
    background: var(--preto);
    width: 100%;
    padding: 40px 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.cabecalho__logo--icone {
    max-width: 260px;
}

.cabecalho__navegacao {
    display: flex;
    gap: 40px;
}

.cabecalho__navegacao--lista {
    list-style: none;  
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    
}

.cabecalho__navegacao--item a {
    color: var(--branco);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Banner */
.banner__wrapper {
    margin: 0px;
}

.banner__img {
    max-width: 100%;
}

.banner__img-descricao {
    max-width: 1200px;
    color: var(--grafite);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 110px auto;
}


/* Container geral */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.ofertas {
    margin-bottom: 7rem;
}

.ofertas__cards--grupo {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ofertas__cards--item {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5rem 2rem;
    color: var(--branco);
    flex: 1 0 calc(50% - 3rem);
    box-sizing: border-box;
    text-align: center;
}

.ofertas__cards--japao {
    background-image: url("./img/tokyo.png");
}

.ofertas__cards--san-andreas {
    background-image: url("./img/san-andreas.png");
}

.ofertas__cards--paraiba {
    background-image: url("./img/paraiba.png");
}

.ofertas__cards--manaus {
    background-image: url("./img/manaus.png");
}

.ofertas__card--destino-tipo {
    color: var(--branco);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.ofertas__card--destino-nome {
    font-size: 3rem;
    font-weight: 700;
}

.ofertas__card--preco {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

/* Botões */
.destinos__item--botao,
.ofertas__card--botao {
    border-radius: 0.5rem;
    background: var(--vermelho);
    padding: 1rem 3rem;
    display: inline-block;
}

.destinos__item--botao {
    width: 50%;
    text-align: center;
}

.destinos__item--botao-texto,
.ofertas__card--botao-texto {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    color: var(--branco);
    
}


/* Busca */
.busca__categorias {
    display: flex;
    align-items: stretch;
    gap: 1.5rem;
    margin-bottom: 112px;
}

.busca__categorias-lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none; 
    padding: 0;
    margin: 0; 
}

.busca__categoria {
    color: var(--grafite);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.5rem;
    background: var(--cinza-claro);
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
}


figure.busca__categoria--icone {
    margin: 0;
    padding: 0;
}

span.material-symbols-outlined {
    color: var(--cinza-escuro);
    font-size: 80px;
    font-weight: 400;
}

a.busca__categoria--link {
    padding: 1rem 1.5rem;
    text-decoration: none; 
    color: inherit; 
    display: block;
}

span.busca__categoria--nome {
    margin-top: 12px;
    display: block;
}


/* Destinos */
.destinos__lista {
    display: flex;
    align-items: stretch;
    gap: 1.5rem;
    margin-bottom: 7rem;
}

.destinos__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destinos__item--image {
    max-width: 100%;
}

.destinos__item--nome {
    color: var(--grafite);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    margin: 1.5rem 0;
}

.destinos__item--descricao {
    color: var(--grafite);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

/* Pagamento */
.pagamento {
    margin-bottom: 7rem;
}

.pagamento__imagens--grupo,
.pagamento__condicoes {
    display: flex;
    gap: 1.5rem;
}

.pagamento__condicoes--destaque {
    color: var(--grafite);
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.pagamento__condicoes--detalhes {
    color: var(--grafite);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    width: 24rem;
    max-width: 100%;
}

.pagamento__imagens--imagem-container {
    flex: 1;
}

.pagamento__imagens--imagem-destaque {
    margin-top: 1.25rem;
}

.pagamento__imagens--imagem {
    max-width: 100%;
}


/* Depoimentos */
.depoimentos {
    margin-bottom: 7rem;
}

.depoimentos__wrapper {
    display: flex;
    gap: 1.5rem;
    align-items: stretch;
}

.depoimentos__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.depoimentos__texto {
    color: var(--grafite);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.depoimentos__autor {
    margin-top: 12px;
    display: flex;
    gap: 1.5rem;
}

.depoimentos__autor--foto {
    max-width: 86px;
}

.depoimentos__autor--nome {
    color: var(--grafite);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}


/* Roda Pé */
.footer__container {
    background: var(--preto);
    width: 100%;
    padding: 2.5rem 0;
    margin-top: -0.25rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    color: var(--branco);
}

.footer__logo-icon {
    max-width: 10rem;
    margin-bottom: 1rem;
}

.footer__info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__text-info {
    color: var(--neutral-c);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.footer__social-media-container {
    text-align: center;
}

.footer__social-media-text {
    color: var(--neutral-c);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}

/* Títulos principais */
.depoimentos__titulo,
.pagamento__titulo,
.destinos__titulo,
.busca__titulo,
.ofertas__titulo {
    color: var(--grafite);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
}

/* Sublinhados dos títulos */
.depoimentos__titulo--sublinhado,
.pagamento__titulo--sublinhado,
.destinos__titulo--sublinhado,
.busca__titulo--sublinhado,
.ofertas__titulo--sublinhado {
    width: 180px;
    height: 0.25rem;
    background: var(--vermelho);
    margin: 1rem auto 0;
}